        {% load static %}   
        {% include 'recicle/partials/head.html' %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/dicas.css'%}">
        <title>Dicas</title>
    </head>
    <body>

         {% include "recicle/partials/header.html" %}
        
        <main>
            <section class="intro">
                <h1>Dicas de reciclagem</h1>
                <p>COLOQUE UM TEXTO INTRODUTORIO</p>
            </section>

            <section class="tips">
                <div class="tip">
                  <img src="/static/images/reciclagem_papel.png" alt="Reciclagem de Papel">
                  <h2>Reciclagem de Papel</h2>
                  <p>Preencha a coluna com dias sobre reciclagem de papel.</p>
                </div>
                <div class="tip">
                  <img src="/static/images/reciclagem_plastico.png" alt="Reciclagem de Plástico">
                  <h2>Reciclagem de Plástico</h2>
                  <p>Preencha a coluna com dias sobre reciclagem de plástico.</p>
                </div>
                <div class="tip">
                  <img src="/static/images/reciclagem_vidro.png" alt="Reciclagem de Vidro">
                  <h2>Reciclagem de Vidro</h2>
                  <p>Preencha a coluna com dias sobre reciclagem de vidro.</p>
                </div>
                <div class="tip">
                  <img src="/static/images/reciclagem_metal.png" alt=alt="Reciclagem de Metal">
                  <h2>Reciclagem de Metal</h2>
                  <p>Preencha a coluna com dias sobre reciclagem de metal.</p>
                </div>
            </section>

            <section class="call-to-action">
                <p>"O ambiente é o que somos em nós mesmos. Nós e o ambiente somos dois processos diferentes; nós somos o ambiente e o ambiente somos nós."</p> 1 
                <h5>Jiddu Krishnamurti</h5>
            </section>

            <footer>
              <div class="social-icons">
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-facebook"></i>
                </a>
                <a href="https://wa.me" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-whatsapp"></i>
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </footer>
        </main>
    </body>
               
</html>        